<html>

<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    {% if request.method == "POST" %}
        <h2>Image</h2>
        {{ image }}
        <h2>Results</h2>
        {{ res }}
    {% else %}
        <h2>Upload Image</h2>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    {% endif %}

</body>

</html>